<div class="sticky" style="margin: 0; padding:0; z-index: 1; ">
  <div style="margin: 0; background:#fff">    
      <h3 style="margin: 0; background:#fff"> <img style="width: 2rem;" src="img/samislogo.jpg" alt=""> SAMIS LAW FIRM</h3>
  <p style="margin: 0; background:#fff">A Professional Law Corporation</p>
  </div>
     <div style="background:#fff; padding-top:1rem;">
       <p style=" text-align:right;margin:0; background:#fff; padding-right:2rem;">Email Us: <span style="font-weight: bold;">admin@samislaw.com</span></p>

    <p style=" text-align:right; margin: 0; background:#fff; padding-right:2rem;">  Call: <span style="font-weight: bold;">081-0895-6648</span></p>
     
     </div>
<nav style="margin: 0; padding:0;"  class="navbar navbar-expand-lg navbar-dark">
  <img style="width: 1.5rem; border-radius:100%;" src="img/samislogo.jpg" alt="">
  <a class="navbar-brand" href="/">Samis Law</a>
  <a class="navbar-brand" href="#">{{title}}</a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item active">
        <a style="color: yellow;" class="nav-link" href="/">About us<span class="sr-only">(current)</span></a>
      </li>

      {{!-- <li class="nav-item">
        <a class="nav-link" href="/">About us</a>
      </li> --}}
            <li class="nav-item">
        <a class="nav-link" href="practice-areas">Practice Areas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="loan">Loans</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="real-estate">Real Estate</a>
      </li>
       {{!-- <li class="nav-item">
        <a class="nav-link" href="business">Business</a>
      </li> --}}
      {{!-- <li class="nav-item">
        <a class="nav-link" href="investments">Investments</a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="our-attorneys"> <svg style="width: 20px;" id="icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260 260"><defs><style>.cls-1,.cls-1{fill:#dfac08;}.cls-1{fill-rule:evenodd;}</style></defs><title>15</title><circle class="cls-1" cx="100" cy="60" r="50"/><path class="cls-1" d="M144.27,126.79a89.36,89.36,0,0,0-12.9-4.22,70,70,0,0,1-62.76,0A90,90,0,0,0,0,210v20H117.55a85,85,0,0,1,26.73-103.21Z"/><path class="cls-1" d="M195,130a65,65,0,1,0,65,65A65,65,0,0,0,195,130Zm25,75H205v25H185V205H160V185h25V160h20v25h35Z"/></svg> Our Attorneys</a>
      </li> 

      <li class="nav-item">
          <a class="nav-link" href="contact-us">Contact us</a>
      </li>
      
      
    </ul>
    
  </div>
  {{!-- <p style="color: white;">Email Us: admin@samislaw.com</p> --}}
  {{!-- <p style="color: white; padding:0.5rem 1rem 0 0; ">  Call: 081-0895-6648</p> --}}

</nav>
</div>